{% extends 'base.html' %}

{% block title %}2GIS антифрод - статистическая проверка отзывов{% endblock %}
{% block header %}2GIS антифрод - проверка отзывов{% endblock %}


{% block content %}
    <div id="result-container">
        <p>
        Чтобы посмотреть статистику отзывов на компанию, введите ее код из <a href="https://2gis.ru/">2gis</a>. 
        Код будет в строке адреса, после <code>/firm/</code> когда вы просматриваете страничку компании. 
        </p>
        <p>
            Или просто добавьте буквы "af" перед 2gis в этом адресе, чтобы получился адрес на <a href="https://af2gis.ru/">af2gis.ru</a>.
        </p>        
        <div>
            <img src="/static/img/oid.png">
        </div>
        Или попробуйте найти ее название в поиске по имеющимся отчетам.
    </div>
{% endblock %}
