{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}
{% block header %}{{title}} - статистический анализ отзывов{% endblock %}


{% block content %}
   
    <div id="actionbox">
        <p>На данный момент нет подготовленного отчета по компании <b>{{title}}</b>.</p>
        <p>Это можно легко исправить.</p>
        <form method="POST" action="/submit">
            <input type="hidden" name="oid" value="{{oid}}">
            <button>Рассчитать статистические аномалии</button>
        </form>
    </div>
{% endblock %}