{% extends 'base.html' %}

{% block title %}{{oid}}{% endblock %}
{% block header %}{{oid}} :: Нет в 2GIS{% endblock %}


{% block content %}
   
    <div id="actionbox">
        <h3>Нам не получилось взять данные о <i>компании</i> c id {{oid}} в 2GIS</h3>
        Вероятно, это не компания, а что-то ужасно интересное (географический объект, медцентр или тайный штаб рептилоидов Верхней Пышмы).
        <p>
            Вы можете проверить сами по <a href="https://2gis.ru/af2gis/geo/{{oid}}">этой ссылке</a>. Только, если это штаб - не болтайте о нем! Мы вас не знаем, вы нас не знаете.
        </p>
    </div>
{% endblock %}