
{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}
{% block header %}{{title}} - статистический анализ отзывов{% endblock %}


{% block content %}


        {% if score.trusted %}
            {% set divclass = "trusted-companies" %}
            {% set pclass = "green" %}
        {% else %}
            {% set divclass = "suspicious-companies" %}
            {% set pclass = "red" %}
        {% endif %}

        <div id="result-container">
            <div class="companyinfo">
                <div class="{{divclass}}">
                    <p><b>{{c.title}} [ <a href="https://2gis.ru/af2gis/firm/{{c.object_id}}">2GIS</a> ]</b></p>
                    <p>{{c.address}}</p>

                    {% if score.trusted %}
                        <p class="green">Аномалий в отзывах не обнаружено</p>
                    {% else %}
                        <p class="red"><b>Отзывы не внушают доверия</b></p>
                        <p class="red"><b>Аномалия:</b> {{score.reason}}</p>
                    {% endif %}
                    <p>Дата отчета: {{score.date}} </p>
                </div> <!-- company info div -->

                <div class="score {{divclass}}">
                    {% for key, value in score.items() %}
                        {% if key != "param_fp" and key != "trusted" and key != "date" and key != "reason" %}
                            <p>{{key}}: {{value}}</p>
                        {% endif %}
                    {% endfor%}    
                </div> <!-- score div -->                
            </div> <!-- companyinfo -->

            {% if relations%}
            <h3>Значимые связи от {{title}}</h3>
            <table>
                <thead>
                    <th>Компания</th>
                    <th>Город</th>
                    <th>hits</th>
                    <th>median</th>
                    <th>ratings</th>
                </thead>
                <tbody>
                    
                    {% for rel in relations %}

                        <tr>

                            {% if rel.hits >= settings.risk_hit_th %}
                                {% set hit_class = 'red' %}
                            {% else %}
                                {% set hit_class = '' %}
                            {% endif %}


                            {% if rel.arating >= settings.risk_highrate_th and rel.brating >= settings.risk_highrate_th %}
                                {% set rate_class = 'red' %}
                            {% else %}
                                {% set rate_class = '' %}
                            {% endif %}

                            <td>{% if rel.risk %}<span class="company-tag suspicious-tag">Подозрительная связь</span>{% endif%}<a href="/report/{{rel.oid}}"><b>{{rel.title}}</b></a>
                            {% if rel.trusted is not none %}
                                {% if rel.trusted %}
                                    <span class="company-tag trusted-tag">Проверено</span>
                                {% else %}
                                    <span class="company-tag suspicious-tag">Подозрительная</span>
                                {% endif %}
                            {% endif %}
                            </td>
                            <td>{{rel.town}}</td>
                            <td class="{{hit_class}}">{{rel.hits}}</td>
                            <td>{{rel.median}}</td>
                            <td class="{{rate_class}}">{{rel.arating | round(1) }} {{rel.brating | round(1)}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {%else%}
            <div>
                <b>Нет значимых связей</b>
            </div>
                {%endif%}

            <div>
                Параметры расчета:
                <span class="score">{{score.param_fp}}</span>
            </div>
    
        </div>


    <div id="result">
    </div>



{% endblock %}
