
{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}
{% block header %}{{title}} - статистический анализ отзывов{% endblock %}


{% block content %}


    <div class="result-container" id="result-container">
        {'tags': None, 'title': 'Harucha, Точки безалкогольных напитков', 'town': 'Новосибирск', 'alias': None, 'oid': '70000001080364339', 
        'hits': 16, 'median': 7, 'arating': 4.5, 'brating': 5.0}
        {% if score.trusted %}
        <div class="trusted-companies">
        {% else %}
        <div class="suspicious-companies">
        {% endif %}
            <h2>{{c.title}}</h2>
            <h3>{{c.address}}</h3>
            {% if score.trusted %}
            <span class="error">Аномалий в отзывах не обнаружено</span>
            {% else %}
            <span class="error">Аномалия: {{score.reason}}</span>
            {% endif %}

            {% if relations%}
            <table>
                <thead>
                    <th>Компания</th>
                    <th>Город</th>
                    <th>hits</th>
                    <th>median</th>
                    <th>ratings</th>
                </thead>
                <tbody>
                    
                    {% for rel in relations %}

                        <tr>
                            <td>{% if rel.risk %}<span class="company-tag suspicious-tag">Подозрительная</span>{% endif%}<a href="/report/{{rel.oid}}">{{rel.title}}</a></td>
                            <td>{{rel.town}}</td>
                            <td>{{rel.hits}}</td>
                            <td>{{rel.median}}</td>
                            <td>{{rel.arating | round(1)}} {{rel.brating | round(1)}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {%else%}
            <div>
                <b>Нет значимых связей</b>
            </div>
                {%endif%}

            <div>
                <details>
                    <summary>
                    Score details
                    </summary>
                    <div>
                        {% for key, value in score.items() %}
                            {{key}}: {{value}}<br>
                        {% endfor%}    
                    </div>
                </details>              
            </div>
        </div>

    </div>

    <div id="result">
    </div>



{% endblock %}
